<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>A Team Webshop</title>
    <link rel="icon" href="../../../asset/logo.png" />
    <link rel="stylesheet" href="sign-in.component.scss" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>
    <script>
        $.get("navbar.html", function(data){
            $("#nav-placeholder").replaceWith(data);
        });
    </script> 
    <!--end of Navigation bar-->
    <div class="container">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <form [formGroup]="signInInfo" class="well form-horizontal" action=" " method="post" id="contact_form">
            <fieldset>

                <!-- Form Name -->
                <legend>
                    <h2><b>Bejelentkezés</b></h2>
                </legend><br>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Felhasználónév</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input formControlName="Name" placeholder="Felhasználónév" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Jelszó</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input formControlName="Password" placeholder="Jelszó" class="form-control" type="password">
                        </div>
                    </div>
                </div>

                <!-- Success message -->
                <div *ngIf="navbarService.userLoggedIn | async" class="alert alert-success" style="text-align: center;" role="alert" id="success_message"><i
                        class="glyphicon glyphicon-thumbs-up"></i> Sikeres bejelentkezés</div>

                <!-- Alert message -->
                <div *ngIf="showAlertMessage" class="alert alert-danger" style="text-align: center;" role="alert" id="alert_message"><i
                    class="glyphicon glyphicon-remove"></i> Sikertelen bejelentkezés</div>

                <!-- Button -->
                <div class="form-group" style="text-align: center;">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button (click)="onSubmit()"
                            class="btn btn-warning">Bejelentkezés <span
                                class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <!-- /.container -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>