    <div class="container">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <form class="well form-horizontal" action=" " method="post" id="contact_form">
            <fieldset>

                <!-- Form Name -->
                <legend>
                    <h2 style="text-align: center;"><b>About US</b></h2>
                </legend><br>

                <h1 style="text-align:center;">Mi vagyunk a Nail webshop.</h1>
                <h3>Elérhetőségek: </h3>
                <p style="color:#7c76c7;"><b>Dávid Gergely</b> </p>
                <p>Email cím: dmdavger@gmail.com </p>
                <p>Telefonszám: 0611111111 </p>
            </fieldset>
        </form>
    </div><!-- /.container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
